*{
    text-decoration: none;
    margin: 0;
    padding: 0;
}
body{
    width: 100vh;
    height: 100vh;
    background-image: url(background.jpg);
}
.box{
    height: 710px;
    width: 1275px;
    padding: 20px 20px;
    background: silver;
    border-radius: 20px;
    margin: 15px;
    overflow: hidden;
    text-align: center;
    border: 1px solid black;
    text-align: left;
    margin-bottom: 90px;

}
form{
    padding-top:20px;
    margin-right:20px;
    display: grid;
    padding-right: 50px;
    padding-left: 50px;
}
form input{
    padding-left:100px;
    border: 2px solid #f1d0d0;
    border-radius: 5px;
    padding-left: 1px;
    margin-bottom: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 200px;
}

form select{
    padding-top: 10px;
    padding-bottom: 10px;
    margin-bottom: 20px;
    margin-left: 5px;
    padding-right: 200px;
    border: 2px solid #f1d0d0;
    border-radius: 5px;
    padding-left: 5px;

}
nav{
    width: 1254px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 8%;
    padding-left: 8%;
    background: rgb(18,6,181);
    background: radial-gradient(circle, rgba(18,6,181,1) 0%, rgba(252,8,8,1) 32%, rgba(126,6,200,1) 67%, rgba(0,0,0,1) 100%);
    border-bottom: 5px solid black;

}
.logo{
    width: 30%;
    color: white;
    font-size: 30px;
    letter-spacing: 0.5px;
    cursor: pointer;
}
nav ul li{
    
    display: inline-block;
    padding: 10px 10px;
}
nav ul li a{
    color: white;
    font-weight: bold;
    font-size: 20px;
    text-transform: capitalize;
    text-shadow: 40%;
}
nav ul li a:hover{
    color: red;
    transition: 0.5s;
}
nav li ul.dropdown li{
    display: block;
}
nav ul li ul.dropdown {
    width: 160px;
    background: BLACK;
    position: absolute;
    z-index: 999;
    display: none;
    border-radius: 10px;
    border:  2px solid red;
}
nav ul li a:hover{
    background: whitesmoke;
}
nav ul li:hover ul.dropdown{
    display: block;
}
.box h5{
    padding-left: 40px;
    padding-right: 40px;
    font-size: 30px;
    font-family: 'Times New Roman', Times, serif;
    padding-top: 155px;
    position: absolute;
    color: whitesmoke;
}
.judul{
    font-size: 60px;
    text-shadow: 5px 5px 10px blue, -5px -5px 10px whitesmoke;
    color: white;
    padding-top: 50px;
}
.tanda{
   color: blue;
}
.js{
    font-size: 60px;
    text-shadow: 5px 5px 10px blue, -5px -5px 10px whitesmoke;
    color: white;
    padding-top: 50px;
}

@media only screen and (max-width:300px)
{ 
    body{
        width: 290px;
        height: auto;
        
    }
    span{
        padding-left: 0;
    }
    .index{
       
        background-color: wheat;
        
    }
   
    .logo{
        width: 30%;
        color: white;
        font-size: 10px;
        letter-spacing: 0.5px;
        cursor: pointer;
    }
    nav{
        width: auto;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding-top: 2px;
        padding-bottom: 2px;
        padding-right: 4%;
        padding-left: 4%;
        background-color: #191919;
        border-bottom: 3px solid black;
        
    }
    nav ul li {
        list-style-type: none;
        display: inline-block;
        padding:2px 2px;
    }
    nav a{
        font-size: 10px;
        padding-right: 5px;
    }
    .btn{
        background-color: red;
        color: wheat;
        border: 2px solid white;
        font-weight: bold;
        padding: 3px 6px;
        border-radius: 20px;
        transition: transform .5s;
    }
    nav ul li a{
        color: white;
        font-weight: bold;
        font-size: 8px;
        text-transform: capitalize; 
    }
    form{
        padding-top:2px;
        margin-right:2px;
        display: grid;
        padding-right: 2px;
        padding-left: 2px;
        overflow: hidden;
    }
    .box{
        height: 400px;
        width: 230px;
        padding: 20px 20px;
        background: silver;
        border-radius: 20px;
        margin-left: 10px;
        margin-right: 10px;
        margin-bottom: 30px;
        overflow: hidden;
        text-align: center;
        border: 1px solid black;
        text-align: left;
    
        
    }
    .box h5{
        padding-left: 20px;
        padding-right: 20px;
        font-size: 10px;
        font-family: 'Times New Roman', Times, serif;
        padding-top: 50px;
        position: none;
        color: whitesmoke;
    }
    .judul{
        font-size: 20px;
        text-shadow: 5px 5px 10px blue, -5px -5px 10px whitesmoke;
        color: white;
        padding-top: 5px;
        display: flex;
    }
    .js{
        font-size: 10px;
        text-align: center;
    }
    form input{
        display: flexbox;
        padding-left:10px;
        border: 2px solid #f1d0d0;
        border-radius: 5px;
        padding-left: 1.5px;
        margin-bottom: 7px;
        padding-top: 2px;
        padding-bottom: 2px;
        padding-right: 1.5px;
    }
    form select{
        display: flexbox;
        padding-left:10px;
        border: 2px solid #f1d0d0;
        border-radius: 5px;
        padding-left: 1.5px;
        margin-bottom: 7px;
        padding-top: 2px;
        padding-bottom: 2px;
        padding-right: 1.5px;
       
    }
    
}
