*{
    padding: 0;
    margin: 0;
    text-decoration: none;

}
.index{
    height: 100vh;
    width: 100%;
    background-image: url(background.jpg);
}
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 8%;
    padding-left: 8%;
    background: rgb(18,6,181);
    background: radial-gradient(circle, rgba(18,6,181,1) 0%, rgba(252,8,8,1) 32%, rgba(126,6,200,1) 67%, rgba(0,0,0,1) 100%);
    border-bottom: 5px solid black;

}
.logo{
    width: 30%;
    color: white;
    font-size: 30px;
    letter-spacing: 0.5px;
    cursor: pointer;
}
nav ul li{
    
    display: inline-block;
    padding: 10px 10px;
}
nav ul li a{
    color: white;
    font-weight: bold;
    font-size: 20px;
    text-transform: capitalize;
    text-shadow: 40%;
}
nav ul li a:hover{
    color: red;
    transition: 0.5s;
}
nav li ul.dropdown li{
    display: block;
}
nav ul li ul.dropdown {
    width: 160px;
    background: BLACK;
    position: absolute;
    z-index: 999;
    display: none;
    border-radius: 10px;
    border:  2px solid red;
}
nav ul li a:hover{
    background: whitesmoke;
}
nav ul li:hover ul.dropdown{
    display: block;
}
.btn{
    background-color: white;
    color: red;
    border: 2px solid red;
    font-weight: bold;
    padding: 5px 15px;
    border-radius:30px;
    transition: 0.5s ;

}
.btn:hover{
    transform: scale(1.2);
    border: 2px solid red;
    background-color: transparent;
}

.image img{
  width: 400px;
  height: 400px;
  padding-top: 50px;
  opacity: 30%;
}
.content{
    margin-bottom: 15px;
    position: absolute;
    flex-wrap: wrap;
    top: 60%;
    left: 10%;
    transform: translateY(-50%)
    

}
.content h4{
    padding-bottom: 10px;
    font-size: 30px;
}
.content h3 {
    padding-top: 25px;
    text-shadow: 5px 5px 10px blue, -5px -5px 10px white;
}


.about{
    width: 100%;
    padding: 100px 0;
    background-image: url(background.jpg);
}
.about-me{
    width: 1130px;
    max-width: 95%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.about-me img{
    height: auto;
    width: 430px;
    border-radius: 10px;
    border:  2px solid red;
}
.about-text{
    width: 550px;
}
.about-text h2{
    color: whitesmoke;
    font-size: 65px;
    text-transform: capitalize;
    margin-bottom: 20px;
    border-bottom: 5px solid blue;
    text-shadow: 5px 5px 10px blue, -5px -5px 10px whitesmoke;
}
.about-text h5{
    color: black;
    letter-spacing: 1px;
    font-size: 20px;
    margin-bottom: 25px;
    text-transform: capitalize;
    text-shadow: 5px 5px 10px blue, -5px -5px 10px white;
}
.Text1{
    padding-top: 10px;
}
.Text2{
    padding-top: 20px;
}
.war1{
    color: rgb(17, 17, 99);
}
.war2{
    color: rgb(85, 8, 85);
}
.war4{
    color: red;
}
h3 i{
    color: gold;
}
.contact{
    height: 400px;
    width: 100%;
    background-image: url(background.jpg);
}
.person{
    font-weight: bold;
    font-size: 20px;
    text-align: center;
    text-shadow: 5px 5px 10px blue, -5px -5px 10px black;
    color: antiquewhite;
    padding-top: 100px;
   
}
.dalam{
    padding-left: 50px;
    padding-right: 50px;
    color: antiquewhite;
    font-size: 50px;
    display: inline-block;
    place-items: center;
    padding-top: 40px;
    text-align: center;
    text-shadow: 5px 5px 10px blue, -5px -5px 10px whitesmoke;
    transition: 0.5s ;
    
}

.dalam:hover{
    transform: scale(1.2);
    background-color: transparent;
}
span{
    color: red;
}
.berita{
    height: 900px;
    width: 100%;
    background-image: url(background.jpg);
    align-items: center;

}
.imageo{
    
    display: flex;
    width: 100%;
    
}
.imageo img{
    width: 100%;
    
}
.wrapper{
    width: 700px;
    height: 720px;
    margin: auto;
    border-radius: 5px;
    overflow: hidden;
}
#slide-1:target ~ .imageo{
    margin-left: 0px;
}
#slide-2:target ~ .imageo{
    margin-left: -100%;
}
.beritak{
    font-size: 60px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
    font-weight: bolder;
    color: whitesmoke;
    text-shadow: 5px 5px 10px blue, -5px -5px 10px whitesmoke;
    transition: 0.5s ;

}
.bingkai{
    height: 750px;
    width: 95%;
    padding: 20px 20px;
    background: silver;
    border-radius: 20px;
    margin: 15px;
    overflow: hidden;
    text-align: center;
    border: 1px solid black;
}
.navigasi a i{
    
    font-size: 30px;
    padding-left: 10px;
    padding-right: 10px;
    color: whitesmoke;
    text-shadow: 5px 5px 10px blue, -5px -5px 10px whitesmoke;
    transition: 0.5s ;
}
.navigasi a i:hover{
    transform: scale(1.2);
    background-color: red;
}
@media only screen and (min-width:1920px)
{ 
    .index{
       
        background-color: wheat;
        
    }
    
    

}

@media only screen and (max-width:576px)
{ 
    span{
        color: whitesmoke;
    }
    .index{
       
        background-color: wheat;
        
    }
    .logo{
        width: 30%;
        color: white;
        font-size: 15px;
        letter-spacing: 0.5px;
        cursor: pointer;
    }
    nav{
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding-top: 2px;
        padding-bottom: 2px;
        padding-right: 4%;
        padding-left: 4%;
        background-color: #191919;
        border-bottom: 3px solid black;
    }
    nav ul li {
        list-style-type: none;
        display: inline-block;
        padding:2px 2px;
    }
    nav a{
        font-size: 10px;
        padding-right: 5px;
    }
    .btn{
        background-color: red;
        color: wheat;
        border: 2px solid white;
        font-weight: bold;
        padding: 3px 6px;
        border-radius: 20px;
        transition: transform .5s;
    }
    nav ul li a{
        color: white;
        font-weight: bold;
        font-size: 8px;
        text-transform: capitalize; 
    }  
    
    .image img{
        padding-top: 100px;
        padding-bottom: 100px;
        width: 250px;
        height: 250px;
       
      
       
    }
    h4{
        color: red;
        letter-spacing: 2px;
        font-size: 15px;
    }
    h1{
        color: black;
        font-size: 25px;
        margin: 15px 0 15px;
    }
    h3{
        color: #191919;
        font-size: 15px;
        margin-bottom: 50px;
    }
    .content a {
        font-size: 15px;
        background: red;
        color: black;
        display: inline-block;
        padding: 10px 30px;
        border-radius: 30px;
        border: 2px solid black;
        transition: .5s;
    }
    .about-me{
        width: 550px;
        max-width: 95%;
        margin: 0 auto;
        display: grid;
        align-items:center;
        justify-content: center;
    }
    .about-me img{
        height: auto;
        width: 200px;
        border-radius: 10px;
        border: 2px solid red;
        justify-content: center;
        align-items: center;
    }
    .about-text{
        width: 250px;
    }
    .about-text h2{
        color: #191919;
        font-size: 10px;
        text-transform: capitalize;
        margin-bottom: 20px;
        border-bottom: 5px solid red;
    
    }
    .about-text h5{
        color: #000;
        letter-spacing: 1px;
        font-size: 10px;
        margin-bottom: 25px;
        text-transform: capitalize;
    }
    .about-text p{
        color: black;
        letter-spacing: 1px;
        line-height: 28px;
        font-size: 18px;
        margin-bottom: 45px;
        text-align: justify;
    }
    .button{
        background-color: red;
        color: wheat;
        border: 2px solid black;
        font-weight: bold;
        padding: 10px 27px;
        border-radius: 30px;
        transition: .5s;
        font-size: small;
    }
    .button:hover{
        background-color: black;
        border: 2px solid red;
        cursor: pointer;
    }
    .service{
        background: #101010;
        width: 100%;
        padding: 100px 0;
    
    }
    .title h2 {
        color: white;
        font-size: 75px;
        width: 100%;
        margin-bottom: 30px auto;
        text-align: center;
    }
    .box {
        display: grid;
        justify-content: center;
        align-items: center;
        min-height: 200px;
    }
    .card{
        height: 250px;
        width: 230px;
        padding: 20px 35px;
        background: #141414;
        border-radius: 15px;
        margin: 15px;
        position: relative;
        overflow: hidden;
        text-align: center;
        border: 1px solid red;
        
    }
    .card i{
        font-size: 25px;
        display: block;
        text-align: center;
        margin: 12px 0;
        color: red;
    }
    .card h5{
        color: white;
        font-size: 10px;
        margin-bottom: 8px;
        padding-bottom: 7px;
        
    }
    .pra p a{
        background-color: red;
        color: wheat;
        border: 2px solid white;
        font-weight: bold;
        font-size: 10px;
        padding: 2px 6px;
        border-radius: 10px;
        
       
    }
    .title h2{
        color: blue;
    }
    .pra p a{
        background-color: red;
        color: wheat;
        border: 2px solid white;
        font-weight: bold;
        padding: 9px 22px;
        border-radius: 30px;
    }
   .war3{
    font-size: 24px;
   }
   .berita{
    height: 900px;
    width: 100%;
    background-image: url(background.jpg);
    align-items: center;

}
.imageo{
    padding-top: 20px;
    display: flex;
    width: 100%;
    
}
.imageo img{
    width: 100%;
    
   
    
}
.wrapper{
    width: 200px;
    height: 720px;
    margin: auto;
    border-radius: 5px;
    overflow: hidden;
}
#slide-1:target ~ .imageo{
    margin-left: 0px;
}
#slide-2:target ~ .imageo{
    margin-left: -100%;
}
.beritak{
    font-size: 60px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
    font-weight: bolder;
    color: whitesmoke;
    text-shadow: 5px 5px 10px blue, -5px -5px 10px whitesmoke;
    transition: 0.5s ;

}
.bingkai{
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 250px;
    width: 250px;
    padding: 20px 20px;
    background: silver;
    border-radius: 20px;
    margin: 15px;
    overflow: hidden;
    text-align: center;
    border: 1px solid black;
}


.beritak h4{
    color: whitesmoke;
    padding-top: 10px;
    font-size: 35px;
}
}
