*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    
}

    
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 8%;
    padding-left: 8%;
    background: rgb(18,6,181);
    background: radial-gradient(circle, rgba(18,6,181,1) 0%, rgba(252,8,8,1) 32%, rgba(126,6,200,1) 67%, rgba(0,0,0,1) 100%);
    border-bottom: 5px solid black;

}
.logo{
    width: 30%;
    color: white;
    font-size: 30px;
    letter-spacing: 0.5px;
    cursor: pointer;
}
nav ul li{
    
    display: inline-block;
    padding: 10px 10px;
}
nav ul li a{
    color: white;
    font-weight: bold;
    font-size: 20px;
    text-transform: capitalize;
    text-shadow: 40%;
}
nav ul li a:hover{
    color: red;
    transition: 0.5s;
}
nav li ul.dropdown li{
    display: block;
}
nav ul li ul.dropdown {
    width: 190px;
    background: BLACK;
    position: absolute;
    z-index: 999;
    display: none;
    border-radius: 10px;
    border:  2px solid red;
}
nav ul li a:hover{
    background: whitesmoke;
}
nav ul li:hover ul.dropdown{
    display: block;
}
.btn{
    background-color: white;
    color: red;
    border: 2px solid red;
    font-weight: bold;
    padding: 5px 15px;
    border-radius:30px;
    transition: 0.5s ;

}
.btn:hover{
    transform: scale(1.2);
    border: 2px solid red;
    background-color: transparent;
}
.PELAPORAN{
    margin: 0;
    padding: 0;
    height: 800px;
    width: 100%;
    background-image: url(background.jpg);
    font-family: 'Times New Roman', Times, serif;
}
    


.PELAPORAN .judul {
    padding-top: 15px;
    color: white;
    font-size: 40px;
    text-align: center;
    text-shadow: 5px 5px 10px blue, -5px -5px 10px whitesmoke;
}
.tengah1{
   
        height: 300px;
        width: 1275px;
        padding: 10px 10px;
        background: transparent;
        border-radius: 20px;
        margin: 15px;
        overflow: hidden;
        text-align: center;
        border: 1px solid white;
        position: relative;
        
}
.kata1{
    padding-top: 10px;
    padding-bottom: 25px;
    font-size: 20px;
    color: antiquewhite;
    text-shadow: 5px 5px 10px blue, -5px -5px 10px whitesmoke;
}
.deskripsi1{
    font-size: 18px;
    color: white;
    padding-top: 10px;
    padding-bottom: 20px;
    font-family: 'Times New Roman', Times, serif;
}
.tengah2{
   
        height: 300px;
        width: 1275px;
        padding: 10px 10px;
        background: transparent;
        border-radius: 20px;
        margin: 15px;
        overflow: hidden;
        text-align: center;
        border: 1px solid white;
        position: relative;
    
}
.isi{
    font-family: 'Times New Roman', Times, serif;
}
.isi1{
    font-family: 'Times New Roman', Times, serif;
}
.isi2{
    padding-top: 15px;
    font-family: 'Times New Roman', Times, serif;
}
span{
    font-weight: bold;
}

@media only screen and (max-width:576px)
{
    .logo{
        width: 30%;
        color: white;
        font-size: 15px;
        letter-spacing: 0.5px;
        cursor: pointer;
    }
    nav{
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding-top: 2px;
        padding-bottom: 2px;
        padding-right: 3%;
        padding-left: 4%;
        background-color: #191919;
        border-bottom: 3px solid black;
    }
    nav ul li {
        list-style-type: none;
        display: inline-block;
        padding:2px 2px;
    }
    nav a{
        font-size: 10px;
        padding-right: 5px;
    }
    .btn{
        background-color: red;
        color: wheat;
        border: 2px solid white;
        font-weight: bold;
        padding: 3px 3px;
        border-radius: 20px;
        transition: transform .5s;
        margin-left: 10px;
    }
    nav ul li a{
        color: white;
        font-weight: bold;
        font-size: 8px;
        text-transform: capitalize; 
    }  
    .tengah1{
        width: 235px;
        align-items: center;
        justify-content: center;
        height: 780px;
    }
    .tengah2{
        margin-top: 320px;
        width: 235px;
        
        height: 559px;
    }
    .tengah1 .isi{
        color: red;
    }
    .PELAPORAN{
        height: 1800px;
    }
    .PELAPORAN .judul{
        font-size: 25px;
    }
}
